<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Back door</title>
</head>
<body>
	<h1>Passcode please!</h1>
	<form action="/passcode" method="POST">
		<label for="passcode">Where does the narwhal bacon?</label>
		<input type="text" name="passcode" placeholder="Where?">
		<button type="submit">Submit</button>
	</form>
</body>
</html>